.navbar {
    display: flex;
    justify-content: space-between;
    /* gap: 8px; */
    align-items: center;
    height: 60px;
    padding: 0 30px;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

.navbar, a {
    color: #F9FAF8;
}
a {
    padding: 8px; 
    text-decoration: none;
    font-size: 24px;
}

.navbar, .heading, .footer {
    background-color: #1F2937;
}

.heading {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 68px;
}

.heading h1 {
    font-size: 48px;
    font-weight:bolder
}

.navbar h1 {
    font-size: 24px;
}
