.navbar {
    display: flex;
    justify-content: space-between;
    /* gap: 8px; */
    align-items: center;
    height: 60px;
    padding: 0 200px;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

.navbar, a {
    color: #F9FAF8;
}
a {
    padding: 8px; 
    text-decoration: none;
    font-size: 24px;
}

.navbar, .heading, .footer {
    background-color: #1F2937;
}

.heading {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 68px 200px;
    
}


.navbar h1 {
    font-size: 24px;
}

.heading h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.mainDoggy {
    padding-left: 45px;
}

button {
    background-color: #3882F6;
    color: #ffffff;
    width: 80px;
    padding: 5px;
    border-radius: 8px;
}
/* 
body {
    display: flex;
} */